<div class="container">
  <div class="row posts1">
    <%= render 'user/shared/show', user: current_user %>
    <div class="col-md-12 my-3">
      <h2 class="text-center">投稿一覧</h2>
    </div>
    <% if @my_posts.where(is_active: true).any? %>
      <%= render 'user/posts/list', posts: @my_posts, url: my_page_path %>
    <% else %>
      <div class="alert alert-info text-center my-4 mx-auto" role="alert">
        <p>まだ投稿がありません。</p>
      </div>
    <% end %>
  </div>
</div>