<div class="bg-image" style="background-image: url('<%= asset_path("yuta_240513_040.jpg") %>'); background-size: cover; background-position: center; height: 100vh;">
  <div class="container">
    <div class="row">
      <div class="col-md-11 col-md-offset-1">
        <h1 class="about1">RunBuddyについて</h1><br>
        <p class="about1 about1-topM">
          RunBuddyは、全国のドッグラン情報を集めたサイトです。愛犬家の皆さんにとって、ドッグラン選びは重要なポイントです。<br>特に、初めて行くドッグランでは、サイズや設備、愛犬が自由に走り回れるかどうか不安がつきものです。<br>このサイトでは、全国のドッグラン情報を一挙に集め、あなたと愛犬にとって最適な場所を見つけるお手伝いをします。
        </p><br>

        <h3 class="about1">RunBuddyを作った理由</h3><br>
        <p class="about1 about1-topM">
          私自身、2頭のシベリアンハスキーと一緒にドッグランを探すことに苦労していました。<br>特に、中型犬や大型犬は入場制限があったり、他の犬とのトラブルが心配されたりすることが多いです。<br>そこで、「もっと簡単に、安心して愛犬と楽しめるドッグランを見つけられるようにしたい」との思いから、<br>このRunBuddyを立ち上げました。<br>多くの飼い主さんが、愛犬とのお出かけをもっと楽しめるよう、このサイトが役立つことを願っています。
        </p><br>

        <h3 class="about1">どうやって利用するか</h3>
        <p class="about1 about1-topM">
          RunBuddyでは、ユーザーがドッグランの情報を簡単に検索できるよう、検索機能やソート機能を搭載しています。<br>お気に入りのドッグランを見つけたら、ぜひレビューを投稿してください。
        </p>

        <h3 class="about1">お問い合わせ</h3>
        <p class="about1 about1-topM">
          ご意見やご質問がある方は、お気軽にお問い合わせください。みなさんのフィードバックがRunBuddyのサービス向上につながります。
        </p>
        <%= link_to 'ドッグラン一覧へ戻る', about_path, class: 'btn btn-danger my-3' %>
      </div>
    </div>
  </div>
</div>