<div class="bg-image" style="background-image: url('<%= asset_path("yuta_240513_040.jpg") %>'); background-size: cover; background-position: center; height: 100vh;">
  <div class="container d-flex align-items-center" style="height: 100vh;">
    <div class="row">
      <div class="col-md-12 col-md-offset-1 text-center">
        <h1 class="top1 mb-5">
          愛犬とあなたの頼れるパートナー、<br>
          <span>RunBuddy</span>へようこそ！
        </h1>
        <h3 class="top1">
          全国のドッグラン情報を一挙に集めました。
        </h3>
        <div class="top1">
          <h5>「新しいドッグランを開拓したい！」</h5>
          <h5>「行ってみたいドッグランはあるけれど、愛犬も入れるか分からない。」</h5>
          <h5>「旅行やお出かけ途中で、愛犬をリフレッシュさせたい！」</h5>
        </div>
        <h5 class="top1">
          そんな疑問や悩みを持つ飼い主さんのために、愛犬と素敵なドッグランとの出会いをお手伝いします。
        </h5>
        <h5 class="top1">
          RunBuddyで、愛犬とのお出かけがもっと楽しく、もっと快適になりますよ！
        </h5>
        <div class="col-3 mx-auto mt-4">
          <%= link_to 'ドッグラン一覧を見る', posts_path, class: 'btn btn-danger top2' %><br>
          <% unless user_signed_in? || current_admin %>
            <%= link_to "ゲストログイン", users_guest_sign_in_path, class: "btn btn-danger mt-3 top2", method: :post %>
            <p class="text-light">お試しの方はこちらから</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>