<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-1">
      <h1>あなたと愛犬のパートナー、RunBuddyへようこそ！</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <h3>全国のドッグランの情報を集めました。</h3>
      <h3>「どこか、いいドッグランはないか。」</h3>
      <h3>「ドッグランの新規開拓をしたい。」</h3>
      <h3>「行ってみたいドッグランはあるけれど、愛犬も入れるか分からない。」</h3>
      <h3>「旅行先や道中、ドッグランで遊ばせたいけど、現地のドッグランが分からない。」</h3>
      <h3>そんな方向けに、素晴らしいドッグランと出会えることを望んでいます。</h3>
      <h3></h3>
    </div>
  </div>
</div>