<div class="bg-image" style="background-image: url('<%= asset_path("yuta_240513_040.jpg") %>'); background-size: cover; background-position: center; height: 100vh;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-md-offset-1 text-center">
        <h1 class="my-5 py-1" style="background-color: rgba(255, 255, 255, 0.8); display: inline-block; font-family: 'Rampart One', sans-serif;">
          愛犬とあなたの頼れるパートナー、<br>
          <span style="color: #ff0000; font-weight: bold;">RunBuddy</span>へようこそ！
        </h1>
        <h3 class="mb-4" style="background-color: rgba(255, 255, 255, 0.8); display: inline-block; font-family: 'Rampart One', sans-serif;">
          全国のドッグラン情報を一挙に集めました。
        </h3>
        <div class="mb-4" style="background-color: rgba(255, 255, 255, 0.8); display: inline-block; font-family: 'Rampart One', sans-serif;">
          <h5>「新しいドッグランを開拓したい！」</h5>
          <h5>「行ってみたいドッグランはあるけれど、愛犬も入れるか分からない。」</h5>
          <h5>「旅行やお出かけ途中で、愛犬をリフレッシュさせたい！」</h5>
        </div>
        <h5 style="background-color: rgba(255, 255, 255, 0.8); display: inline-block; font-family: 'Rampart One', sans-serif;">
          そんな疑問や悩みを持つ飼い主さんのために、愛犬と素敵なドッグランとの出会いをお手伝いします。
        </h5>
        <h5 style="background-color: rgba(255, 255, 255, 0.8); display: inline-block; font-family: 'Rampart One', sans-serif;">
          RunBuddyで、愛犬とのお出かけがもっと楽しく、もっと快適になりますよ！
        </h5>
        <div class="text-center my-4">
          <%= link_to 'ドッグラン一覧を見る', about_path, class: 'btn btn-danger', style: "font-family: 'Rampart One', sans-serif;" %>
        </div>
      </div>
    </div>
  </div>
</div>