@use '~bootstrap/scss/bootstrap';
@import 'homes';
@import 'posts';
@import 'searches';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.custom-font {
  font-family: 'Rampart One', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.5rem;
}

.navbar-nav .nav-link {
  font-size: 1.25rem;
}

.table-responsive {
  overflow-x: auto;
}

#btn-top {
  position: fixed;
  right: 20px;
  bottom : 20px;
}