.posts1{
  font-family: 'Mochiy Pop One', sans-serif;
  font-weight: 300;
  font-style: normal;

  p {
    font-size: 1.5rem;
  }
  .title1 {
    background:linear-gradient(transparent 70%, #FFFF00 0%);
  }
}

@media screen and (max-width:992px) {
  .square-image{
    width: 400px;
    height: 300px;
    object-fit: cover;
  }
}

@media screen and (max-width:576px) {
  .square-image{
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
}


.auto-image {
  max-width: 100%; // 親要素に合わせて最大幅を100%に設定
  height: auto; // 高さは自動調整
  object-fit: contain; // 画像を切り抜かずに収める
}

@media screen and (max-width:992px) {
  .auto-image{
    max-width: 550px;
    max-height: 640px;
    width: auto;
    height: auto;
    object-fit: contain;
  }
}

@media screen and (max-width:576px) {
  .auto-image{
    max-width: 300px;
    max-height: 360px;
    width: auto;
    height: auto;
    object-fit: contain;
  }
}

@media (max-width: 576px) {
  .table thead {
    display: none;
  }

  .table tbody tr {
    display: block;
    margin-bottom: 1rem;
  }

  .table tbody td {
    display: block;
    width: 100%;
    text-align: left;
    padding-left: 0;
    position: relative;
    border: 0;
    border-bottom: 1px solid #ddd;
  }

  .table tbody td:before {
    content: attr(data-label);
    font-weight: bold;
    margin-right: 10px;
  }
}


@media screen and (max-width: 768px) {
  .posts1 {
    font-size: 1rem !important; // 全体のフォントサイズ（必要に応じて変更）
  }

  .posts1 p {
    font-size: 1rem; // p 要素のフォントサイズを変更
  }

  .posts1 .title1 {
    font-size: 1.5rem !important; // title1 のフォントサイズを変更
  }

}

