<div class="row">
  <div class="col">
    <h2 class="my-3">ユーザー情報</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ユーザー名</th>
          <th>メールアドレス</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= link_to "編集", edit_user_registration_path, class: "btn btn-success" %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
