<div class="row">
  <div class="col">
    <h2 class="my-3">ユーザー情報</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ユーザー名</th>
          <th>メールアドレス</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
        </tr>
      </tbody>
    </table>

    <% if user == current_user %>
      <div class="row">
        <%= link_to "",edit_user_registration_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
      </div>
    <% end %>
  </div>
</div>
