<footer class="bg-secondary">
  <div class='container py-2'>
  	<div class='row'>
    	<div class='mx-auto text-white text-center'>
    		<p>&copy; <%= Time.current.year %> RunBuddy. All rights reserved.</p>
    	</div>
    </div>
  </div>
</footer>
